<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>    
    <link rel="stylesheet" href="/css/partials/nav-app.css">
    <%- styleFile %>
    <script src="https://kit.fontawesome.com/3ef4bc1872.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        <nav>
            <ul class="nav">
                <li class="nav-item" ><a href="/home"><i class="fas fa-home"></i>Home</a></li>
                <li class="nav-item"><a href="/my-team"><i class="fa-solid fa-user-group"></i>Room</a></li>
                <li class="nav-item"><a href="/settings"><i class="fas fa-user"></i>Account</a></li>
            </ul>
        </nav>