@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

#root {
    background-color: #457B9D;
    min-height: 100vh;
    width: 99.5vw;
} 

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* outline: 1px solid red; */
    color: #ECECEC;
}

.header-welcome span {
    font-size: 22px;
}

.header-welcome h1 {
    line-height: 32px;
}

.fa-bell {
    padding-top: 8px;
    font-size: 30px;
}

.main {
    margin-top: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    display: flex;
    min-height: 60vh;
    flex-direction: column; 
    align-items: center;
    padding: 0 10px;
    padding-top: 30px ;
    padding-bottom: 75px;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#incoming-deadline {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #F04451;
    color: white;
    border-radius: 15px;
}

progress {
    width: 100%;
    height: 12px;
    margin-left: -2px;
    border: 1px solid white;
    border-radius: 10px;
    background:  inherit;
    /* padding: 0 20px ; */
}

progress {
    margin: 8px 0;
}

progress::-webkit-progress-value {
    background: white;
    border-radius: 10px;            
}
progress::-webkit-progress-bar {
    background: inherit;
    border-radius: 10px;            
}

.progress {
    margin-top: -5px;
    padding: 0 5px ;
}

.deadline {
    gap: 8px;
}

.deadline > h4 {
    font-size : larger 
}

.assignment {
    margin: 10px 0 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.team-name, .task-name, .worker {
    overflow: hidden;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
            line-clamp: 1;
    text-overflow: ellipsis;
    /* font-size: 16px; */
}

.team-name {
    font-size: 20px;
}

.task-name {
    font-weight: normal;
    width: 91%;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
}

.worker {
    width: 91%;
    text-align: end;
    font-weight: bold;
}

.value {
    text-align: end;
}

.ongoing-project {
    width: 95%;
    min-height: 30vh;
}

.ongoing-container {
    width: 100%;
}

.ongoing-menu {
    display: flex;
    justify-content: space-between;

}

.ongoing-menu .headline {
    font-weight: bold;
    font-size: 18px;
}

.ongoing-menu a {
    color: black;
}

.ongoing-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    margin-top: 10px;
}

.ongoing-items {
    width: 43%;
    color: white;
    border-radius: 15px;
    padding: 0  10px;
}

.ongoing-items > * {
    margin : 5px;
    margin-right: 8px;
}

.items-menu {
    font-weight: 200;
    padding-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ongoing-items > .assignment > * {
    font-size: 16px;
}

.ongoing-items > .assignment {
    gap: 1px;
}

.items-menu i {
    font-size: large;
    margin-right: 3px;
    background-color: inherit;
}

.ongoing-items > .progress > * {
    padding: 0;
    margin: 0;
}

.ongoing-items .progress {
    margin-left: -3px;
    /* padding-top: 12px; */
    padding-bottom: 8px;
    background: inherit;
}

.ongoing-items .progress p {
    font-size: 14px;
}

#drawer {
    outline: 1px solid #457B9D;
    width: 100vw;
    min-height: 50vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 75px;
    display: none;
}

.drawer-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drawer-container i {
    color: #858585;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: end;
    width: 85%;
}

.drawer-content {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.drawer-profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.drawer-profile img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.drawer-profile .profile-leader {
    font-size: 16px;
    font-weight: bold;
}

.drawer-profile a {
    color: #457B9D;
}

.drawer-content p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}


.detail-button {
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    color: white;
    height: 40px;
    background-color: #457B9D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-profile {
    display: flex;
    /* margin-right: 10px; */
}

.member-profile img:not(:first-child){
    margin-left: -15px;
}

.member-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid gray;
}